@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-quantico: 'Quantico';
  --font-fredoka: 'Fredoka';
  --font-merriweather: 'Merriweather'
}

a{
  @apply hover:underline text-blue-400
}

#root {
  margin: 0 auto;
  text-align: center;
  @apply font-quantico;
  /* @apply font-fredoka; */
  /* @apply font-merriweather */
}

.leaflet-tooltip {
  background: white !important; /* Removes default white background */
  border: none !important; /* Removes border */
  box-shadow: none !important; /* Removes shadow */
  color: black !important; /* Ensures text remains visible */
  font-weight: bold;
  font-size: 10px;
  padding: 0 !important;
}
.leaflet-interactive:focus {
  outline: none !important;
  border: none !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
